/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #white;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#buttonContainer {
    margin: 20px 0;
}

/* Button Styles */
.btn {
    padding: 10px 15px;
    margin: 5px;
    background-color: #00000080; /* Make textarea 50% transparent dark black */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    background-color: ##0b0d0f;
}

.btn.active {
    background-color: #0b0d0f;
    border: 1px solid white;
}

/* Content and Textarea Styles */
.content {
    display: flex; /* Ensures content is side by side */
    justify-content: center; /* Centers items horizontally */
    gap: 20px; /* Space between text areas */
    margin-top: 20px;
}

.filterDiv {
    display: block; /* Ensure the containers are visible */
    width: auto; /* Allow them to size naturally */
    text-align: left;
}

/* Textarea Styles */
textarea {
    width: 400px; /* Set a fixed width for consistency */
    height: 300px; /* Adjust height as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: both; /* Allow user to resize both horizontally and vertically */
    font-size: 14px;
    background-color: #00000080; /* Make textarea 50% transparent dark black */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
